<h1>All our flats</h1>
<br>

<% @flats.each do |flat| %>
 <div>
    <h3><%= flat.name%></h3>
    <p><%= flat.address%></p>
    <p><%= flat.number_of_guests%></p>
    <p><%= flat.price_per_night%></p>
    <%= link_to "more info", flat_path(flat) %>
  </div>
<% end %>

<%= link_to "add a flat", new_flat_path %>
