<div>
  <h1><%= @flat.name %></h1>
</div>

<div>
  <h3><%= @flat.address %></h3>
</div>

<div>
  <p> <%= @flat.description %></p>
</div>

<div>
  <p><%= @flat.number_of_guests %></p>
  <p><%= @flat.price_per_night %></p>
</div>
